# My python learning

Scope :

In [1]:
b=5

def my_test():
    b=3
    print(b)

my_test()
print(b)

3
5

Interleave two strings :

In [2]:
def interleave(s1:str, s2:str) -> str :
    s3 = ""
    j = 0
    for i in s1:
        if j < len(s2):
            s3 = s3 + i
            s3 = s3 + s2[j]
            j += 1
        else:
            s3 = s3 + i
    if j < len(s2):
        for i in range(j,len(s2)):
            s3 = s3 + s2[i]
    return s3

s1 = input("Enter string 1 :")
s2 = input("Enter string 2 :")

print(interleave(s1,s2))

Enter string 1 :abcd
Enter string 2 :123456
a1b2c3d456

String functions :

In [13]:
my_str = "adddJDSDdgsdhsdgsjsds"
str1 = my_str.capitalize()
print(str1)
str2 = my_str.swapcase()
print(str2)
str3 = my_str.upper()
print(str3)
str4 = my_str.lower()
print(str4)

Adddjdsddgsdhsdgsjsds
ADDDjdsdDGSDHSDGSJSDS
ADDDJDSDDGSDHSDGSJSDS
adddjdsddgsdhsdgsjsds

In [17]:
my_list = [1,3,4,5]
my_list2 = my_list.reverse()
print(my_list,my_list2)

[5, 4, 3, 1] None

In [19]:
my_list = [1,2,3,4]
my_list2 = my_list
my_list = [1,2,3,4,5]
print(my_list,my_list2)

[1, 2, 3, 4, 5] [1, 2, 3, 4]

In [20]:
a = 10
b = 10
a is b

True

In [21]:
a = [1, 2, 3, 4]
b = [1, 2, 3, 4]
a is b

False

String is immutable while list is not

In [2]:
a = "Hi Neethu"
a[0] = 'h'

TypeError: 'str' object does not support item assignment

In [4]:
a = [1,2,3,4]
a[0] = 5
a

[5, 2, 3, 4]

In [6]:
a = 256
a = chr(a)

In [3]:
print(a)



In [7]:
a="Hello"

In [24]:
print(a)
a[1:]

Hello

'ello'

In [26]:
x = slice(2,4)
a[x]

'll'

String reversal :

In [28]:
a = "ABCDEFGH"
a[::-1]

'HGFEDCBA'

In [31]:
import os
out = os.system("dir")

In [32]:
out

0

In [11]:
with open('count_bits.c','r') as f:
    data = f.readlines()
print(data)

['/* Program to count the number of bits with value 1 in given number*/\n', '#include<stdio.h>\n', '\n', 'int main()\n', '{\n', '\n', 'int i,num,n,comp=1,new,count=0;\n', '\n', 'scanf("%d",&n);\n', '\n', 'num=8*sizeof(int);\n', 'for(i=0;i<num;i++)\n', '{\n', ' new=comp & n;\n', ' if(new==1)\n', '    count++;\n', ' n=n >> 1; \n', '}\n', '\n', 'printf("%d",count);\n', '\n', '}\n']

In [6]:
title = 'Hello'
try:
    print(tiel)
except Exception as e:
    print("Error",e)

Error name 'tiel' is not defined

In [3]:
f = open('count_bits.c','r')
for i in range(10):
    print(f.readline())
f.close()

/* Program to count the number of bits with value 1 in given number*/

#include<stdio.h>



int main()

{



int i,num,n,comp=1,new,count=0;



scanf("%d",&n);

Monkey patching :

In [3]:
def my_func1():
    print("I am expensive")

def my_func2():
    print("I am not expensive")
    
value = input("Replace expensive ? Enter y or n")

if value == 'y':
    my_func1 = my_func2

my_func1()

Replace expensive ? Enter y or nn
I am expensive

In [1]:
def scope_test():
    def do_local():
        spam = "local spam"

    def do_nonlocal():
        nonlocal spam
        spam = "nonlocal spam"

    def do_global():
        global spam
        spam = "global spam"

    spam = "test spam"
    do_local()
    print("After local assignment:", spam)
    do_nonlocal()
    print("After nonlocal assignment:", spam)
    do_global()
    print("After global assignment:", spam)

scope_test()
print("In global scope:", spam)

After local assignment: test spam
After nonlocal assignment: nonlocal spam
After global assignment: nonlocal spam
In global scope: global spam

In [11]:
class NeeData:
    my_name = "Neethu"
    def __init__(self,my_data1,my_data2):
        self.my_data1 = my_data1
        self.my_data2 = my_data2
    def print_data(self):
        print("The data is" ,self.my_data1 ,self.my_data2)
        
    @classmethod
    def hello_world(cls):
        print(cls.my_name)
        
    @staticmethod
    def my_static():
        print("I am static")
        

n1 = NeeData("Hello",5)
n1.print_data()
NeeData.hello_world()
n1.hello_world()
NeeData.my_static()
n1.my_static()

The data is Hello 5
Neethu
Neethu
I am static
I am static

In [1]:
l1 = [1,2,3]
l2 = ['a','b','c']
l3 = ['age', 'name', 15]
print(l1,l2,l3)

[1, 2, 3] ['a', 'b', 'c'] ['age', 'name', 15]

In [2]:
l4 = [l1,l2,l3]

In [3]:
l4

[[1, 2, 3], ['a', 'b', 'c'], ['age', 'name', 15]]

In [5]:
import copy
l5 = copy.copy(l4)

In [6]:
l5

[[1, 2, 3], ['a', 'b', 'c'], ['age', 'name', 15]]

In [7]:
l1.append(5)

In [8]:
l5

[[1, 2, 3, 5], ['a', 'b', 'c'], ['age', 'name', 15]]

In [10]:
l6 = copy.deepcopy(l4)

In [11]:
l6

[[1, 2, 3, 5], ['a', 'b', 'c'], ['age', 'name', 15]]

In [16]:
l1.append(6)

In [17]:
print(l1)

[1, 2, 3, 5, 6]

In [18]:
print(l5,l6)

[[1, 2, 3, 5, 6], ['a', 'b', 'c'], ['age', 'name', 15]] [[1, 2, 3, 5], ['a', 'b', 'c'], ['age', 'name', 15]]

In [1]:
a = [17,18,19,2,4,5,6,7,18]
sorted(a)

[2, 4, 5, 6, 7, 17, 18, 18, 19]

In [2]:
a

[17, 18, 19, 2, 4, 5, 6, 7, 18]

In [3]:
b = sorted(a)

In [4]:
print(a,b)

[17, 18, 19, 2, 4, 5, 6, 7, 18] [2, 4, 5, 6, 7, 17, 18, 18, 19]

In [7]:
str1 = "asjddefefweydwdwe"
str2 = sorted(str1)
print(str2)

['a', 'd', 'd', 'd', 'd', 'e', 'e', 'e', 'e', 'f', 'f', 'j', 's', 'w', 'w', 'w', 'y']

In [12]:
print(s)

['a', 'd', 'd', 'd', 'd', 'e', 'e', 'e', 'e', 'f', 'f', 'j', 's', 'w', 'w', 'w', 'y']

In [ ]:
import pickle
class TodoList:
    def __init__(self):
        self.my_todo = {}
    def add_item(self, task:str, state:int):
        self.my_todo.update({task : state})
    def print_tasks(self):
        status_list = ["Todo", "In progress", "Done"]
        i = 0
        print("Here is your list of tasks :")
        for key,value in self.my_todo.items():
            print("%d) %s -> %s"%(i,key,status_list[value]))
            i += 1
    def change_status(self, task:str, state:int):
        self.my_todo[task] = state
    def delete_task(self, task:str):
        del self.my_todo[task]                
        
todo1 = TodoList()
try :
    f = open("my_todo.dat","rb")
    todo1.my_todo = pickle.load(f)
except Exception as e :
    print(e)

while True:
    try :
        todo1.print_tasks()
        print("\n1. Add task \n"\
              "2. Update status\n"\
              "3. Delete a task\n" \
              "4. Exit" \
             )
        choice = int(input("Enter your choice :"))
        if choice == 1 :
            print("Enter the task name<space>status\n"\
                  "for status enter 0, 1, 2 :\n"\
                  "0 - Todo, 1 - In progress, 2 - done")
            task_details = input("Enter the task and status separated by space :")
            temp_list = task_details.split()
            todo1.add_item(temp_list[0], int(temp_list[1]))
        elif choice == 2 :
            print("Enter the task name<space>status\n"\
                    "for status enter 0, 1, 2 :\n"\
                    "0 - Todo, 1 - In progress, 2 - done")
            task_details = input("Enter the task and new status :")
            temp_list = task_details.split()
            todo1.change_status(temp_list[0], int(temp_list[1]))
        elif choice == 3 :
            task = input("Enter the task :")
            todo1.delete_task(task)      
        elif choice == 4 :
            f = open("my_todo.dat","ab")
            pickle.dump(todo1.my_todo,f)
            break
        else :
            print("Invalid choice enter a value between 1 to 3")
    except Exception as e:
            print("Error in entry :",e)

#### want to tell more on python dictionary

In [1]:
a = {1:234, 3:3564, 2:4534, 4:5345}

In [2]:
print(a)

{1: 234, 3: 3564, 2: 4534, 4: 5345}

In [3]:
a[1]

234

In [5]:
a[2]

4534

In [6]:
a[3] = 222

In [7]:
a

{1: 234, 3: 222, 2: 4534, 4: 5345}

In [8]:
a.pop(3)

222

In [9]:
a

{1: 234, 2: 4534, 4: 5345}

In [10]:
a.popitem()

(4, 5345)

In [11]:
a.update({5:54364, 6:3743})

In [12]:
a

{1: 234, 2: 4534, 5: 54364, 6: 3743}

In [14]:
a.items()

dict_items([(1, 234), (2, 4534), (5, 54364), (6, 3743)])

In [17]:
for i in a.keys():
    print(i)

1
2
5
6

In [17]:
def wrap(func):
    def inner_func(*args,**kwargs):
        func(*args,**kwargs)
        print("I am decorated")
    return(inner_func)

@wrap
def my_func(a,b):
    print("I want to get decorated",a+b)

my_func(1,2)

I want to get decorated 3
I am decorated

In [12]:
my_str = "ba321cd4e5"
my_nums = []
my_letters = []
for i in my_str:
    #print(i)
    if i.isdigit():
        my_nums.append(i)
    else:
        my_letters.append(i)
my_nums.sort()
my_letters.sort()
print(my_nums)
print(my_letters)

['1', '2', '3', '4', '5']
['a', 'b', 'c', 'd', 'e']

In [4]:
Users =[
{
"id": 233,
"first_name" : "Joy",
"last_name" : "deep",
"email" : "Joy@gmail.com",
"subjects": ["math"],
"age": 20
},
{
"id": 234,
"first_name" : "Ram",
"last_name" : "singh",
"email" : "Joi@hashedin.com",
"subjects": ["math", "art"],
"age": 25
},
{
"id": 235,
"first_name" : "Jodt",
"last_name" : "deep",
"email" : "max@gmail.com",
"subjects": ["art", "music"],
"age": 27
},
{
"id": 236,
"first_name" : "max",
"last_name" : "singh",
"email" : "himan@hashedin.com",
"subjects": ["bio", "music"],
"age": 35
}
]

In [16]:
[ i["first_name"] for i in Users if i["first_name"].startswith("Jo") ]

['Joy', 'Jodt']

In [10]:
new_user=[]
for i in Users:
    if i["first_name"].startswith("Jo"):
         new_user.append(i["first_name"])
print(new_user)

['Joy', 'Jodt']

 Q. Find the list of all users whose subjects are either “math” or “Art”?

In [15]:
[ i for i in Users if "math" in i["subjects"] or "art" in i["subjects"] ]

[{'id': 233,
  'first_name': 'Joy',
  'last_name': 'deep',
  'email': 'Joy@gmail.com',
  'subjects': ['math'],
  'age': 20},
 {'id': 234,
  'first_name': 'Ram',
  'last_name': 'singh',
  'email': 'Joi@hashedin.com',
  'subjects': ['math', 'art'],
  'age': 25},
 {'id': 235,
  'first_name': 'Jodt',
  'last_name': 'deep',
  'email': 'max@gmail.com',
  'subjects': ['art', 'music'],
  'age': 27}]

In [7]:
[ i for i in Users if "math" in i["subjects"] or "art" in i["subjects"] ]

[{'id': 233,
  'first_name': 'Joy',
  'last_name': 'deep',
  'email': 'Joy@gmail.com',
  'subjects': ['math'],
  'age': 20},
 {'id': 234,
  'first_name': 'Ram',
  'last_name': 'singh',
  'email': 'Joi@hashedin.com',
  'subjects': ['math', 'art'],
  'age': 25},
 {'id': 235,
  'first_name': 'Jodt',
  'last_name': 'deep',
  'email': 'max@gmail.com',
  'subjects': ['art', 'music'],
  'age': 27}]

In [8]:
#Here if you used round bracket then it becomes a generator
nee = ( i for i in Users if "math" in i["subjects"] or "art" in i["subjects"] )
for i in nee:
    print(i)

{'id': 233, 'first_name': 'Joy', 'last_name': 'deep', 'email': 'Joy@gmail.com', 'subjects': ['math'], 'age': 20}
{'id': 234, 'first_name': 'Ram', 'last_name': 'singh', 'email': 'Joi@hashedin.com', 'subjects': ['math', 'art'], 'age': 25}
{'id': 235, 'first_name': 'Jodt', 'last_name': 'deep', 'email': 'max@gmail.com', 'subjects': ['art', 'music'], 'age': 27}

Regular Expression

In [20]:
import re
my_str = "Hello I am Hello neethu"
x = re.findall("[A-Z|a-z]+",my_str)
print(x)

['Hello', 'I', 'am', 'Hello', 'neethu']

In [28]:
import re
my_str = "Hello I am Hello neethu amam"
x = re.sub("Hello","Namaste",my_str)
print(x)
y = my_str.replace("Hello","Namaste")
print(y)

Namaste I am Namaste neethu amam
Namaste I am Namaste neethu amam

In [61]:
import re
my_str = "Hello I am Hello neethu"
if re.search("Hello",my_str):
    print("Present")

Present

In [81]:
y = (x for x in range(10))
type(y)
while True:
    try :
        print(next(y))
    except Exception as e:
        break

0
1
2
3
4
5
6
7
8
9

In [2]:
y = iter(range(10))
while True:
    print(next(y))

0
1
2
3
4
5
6
7
8
9

StopIteration:

In [31]:
my_list = list(range(10))
print(my_list)
my_list.reverse()
print(my_list)
print(sorted(my_list))
print(my_list)
my_list.append(11)
my_list.extend(['a','b'])
print(my_list)
y = my_list.pop()
print(y)
my_list.remove('a')
del my_list[0]
print(my_list.index(0))
print(enumerate(my_list))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 11, 'a', 'b']
b
8
<enumerate object at 0x000001EB6738FBD8>

In [18]:
nee = (12,2,3,3,4)

In [17]:
print(nee)

(12, 2, 3, 3, 4)

In [7]:
nee[1]

2

In [12]:
nee_set = {4,1,2,3,4}

In [13]:
nee_set

{1, 2, 3, 4}

In [22]:
tuple(['z','z','a','d','b','f','g','c'])

('z', 'z', 'a', 'd', 'b', 'f', 'g', 'c')